*{
  box-sizing: border-box;
}
.status{
  font-size: 35px;
  font-style: italic;
  color: black;
  margin: 20px 0px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 55px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 55px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}
.restart{
  margin: 20px 0px;
  font-size: 20px;
  background-color: white;
  border: 1px solid #999;
}